{:paths ["src"]

 :deps
 {uix/core {:git/url "https://github.com/roman01la/uix.git"
            :deps/root "core"
            :sha "843abbe4c4b331fbb0d7d197ecd038b466b48e43"}
  uix/dom  {:git/url "https://github.com/roman01la/uix.git"
            :deps/root "dom"
            :sha "843abbe4c4b331fbb0d7d197ecd038b466b48e43"}}

 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {thheller/shadow-cljs {:mvn/version "2.19.5"}}}}}
