{:deps {refx/core {:local/root "core"}
        refx/http {:local/root "http"}}
 :aliases
 {:dev   {:extra-paths ["dev"]
          :extra-deps {binaryage/devtools   {:mvn/version "1.0.6"}
                       thheller/shadow-cljs {:mvn/version "2.19.5"}}}
  :test  {:extra-paths ["core/test"]}
  :helix {:extra-deps {refx.example/helix {:local/root "examples/helix"}}}
  :uix   {:extra-deps {refx.example/uix   {:local/root "examples/uix"}}}

  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.3"}
                 slipset/deps-deploy           {:mvn/version "0.2.0"}}
          :ns-default build}}}
