{:deps {:aliases [:dev :test :helix :uix]}

 :dev-http {8000 "target/test/browser"
            8001 "examples/uix/resources/public"
            8002 "examples/helix/resources/public"}

 :builds
 {:browser-test
  {:target :browser-test
   :test-dir "target/test/browser"
   :compiler-options {:pretty-print true
                      :external-config {:devtools/config {:features-to-install [:formatters :hints]}}}}

  :karma-test
  {:target :karma
   :output-to "target/test/karma/test.js"
   :compiler-options {:pretty-print true}}

  :example-uix
  {:target :browser
   :output-dir "examples/uix/resources/public/js"
   :asset-path "/js"
   :modules {:core {:init-fn todomvc.uix.core/init}}}

  :example-helix
  {:target :browser
   :output-dir "examples/helix/resources/public/js"
   :asset-path "/js"
   :modules {:core {:init-fn todomvc.helix.core/init}}}}}
